## OS Generated ##
------------------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea
.vscode

## logs ##
----------
*.log
npm-debug.*


## Dependency directories ##
----------------------------
/node_modules


## Server depending files ##
----------------------------
/public
/uploads
config/config.json
appspec.yml
/scripts
config/pushNotification.json
buildspec.yaml
config/firebase.js
package-lock.json
